<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC8bFGSv1KvHWyNsl6rzHzV_uhDTTvOuCI</string>
	<key>GCM_SENDER_ID</key>
	<string>987261029606</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.dacanay.FireChat</string>
	<key>PROJECT_ID</key>
	<string>firechatserver-58990</string>
	<key>STORAGE_BUCKET</key>
	<string>firechatserver-58990.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:987261029606:ios:5eb7d481f9252b4b37ff27</string>
</dict>
</plist>